---
import Layout from "../layouts/Layout.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import { projects } from "../data/projects";
---

<Layout>
  <div class="px-4 pb-16">
    <ProjectGrid projects={projects} />
  </div>
</Layout>
