<footer class="border-t border-gray-200 px-4 py-4 mt-auto">
  <div class="flex justify-between items-center">
    <span class="text-sm">Last updated</span>
    <div class="flex gap-4 md:gap-8 text-sm">
      <a
        href="https://www.are.na/hien-nguyen-z6srhz6468s/channels"
        target="_blank"
        rel="noopener noreferrer"
        class="text-text no-underline hover:font-medium active:font-medium"
        >Arena</a
      >
      <a
        href="mailto:hiennguyen1529@gmail.com"
        class="text-text no-underline hover:font-medium active:font-medium"
        >Email</a
      >
      <a
        href="https://www.instagram.com/hienngyn/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-text no-underline hover:font-medium active:font-medium"
        >Instagram</a
      >
    </div>
  </div>
</footer>
