---

---

<nav>
  <a>
    <!-- <img src="/logo.svg" alt="Logo" /> -->
    <span>Logo</span>
  </a>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
